/*
    DEMO STYLE
*/



body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



#sidebar a,#sidebar a:hover,#sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a{
     color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar {
    padding: 15px 10px;
    background: white;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    color: #777;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: white;
}

#sidebar ul.components {
    padding: 10px 0px 20px 0px;
    border-bottom: 1px solid #47748b;
    margin-right:10px;
    margin-left:20px;
}

#sidebar ul p {
    color: #777;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    font-weight:200;
    display: block;
}
#sidebar ul li a:hover {
    color: #228AE6;

    
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #228AE6;

       
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


.wrapper>ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width:100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}



.panel_card{height:125px;}

.col_ul li{
    margin-left:20px;
}

.bg-matgreen{background-color:#5FCF80;
                height:60px;}
.right{float:right;}

/*
for user-widget in users pages

*/




.img-circle {
    border-radius: 50%;
}










#user_widget{
    border-top:5px solid #D2D6DE;

}
.card-img{
      width: 65px;
    height: auto;
    float: left;
     vertical-align: middle;
     border: 0;
}

.card_img{ width: 40%; 
            height: 90px; 
          
            display: inline-block; 
            
            position: relative;
            float: left;
            vertical-align: middle;
            -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
                                  
            box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
}
.card_user_detail{  width: 58%;  
            height: 90px; 
            padding: 5px 0px 5px 5px;
            font-size:0.8em;
            font-weight:600;
            display: inline-block; 
            position: relative;
            float: left;
            margin-left:4px;
            
}

.card_shadow{
     box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

 #user_widget .card-body{
    padding:0 !important;
}

#user_widget .card-body li{
    font-weight:500;
    border-bottom:0.5px solid #F4F4F4;
}

#user_widget .card-body li>a:hover{
    
    text-decoration:underline;
    color:#228AE6;
}

#user_widget .card-body .nav-link{
padding:0.3rem 1rem;
}

#user_widget .card-header{
    padding:1rem 1rem 0rem 1rem;
}

.user-widget-btn{
width:46%;
    display: inline-block; 
            position: relative;
            float: left;
            margin-left:4%;

}
    
    