

#top_header{min-height: 120px; background-color:#5FCF80; padding: 20px; color:white;}

.section_box1{ width: 30%; 
			height: 170px; 
			background-color:white; 
			display: inline-block; 
			
			position: relative;
    		float: left;
    		vertical-align: middle;
			-webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
			                      
			box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
}

.margin_center
{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
}

.section_box2{	width: 68%;  
			height: 170px; 
			padding: 10px 20px 20px 20px;
			background-color:white; 
			display: inline-block; 
			position: relative;
    		float: left;
    		margin-left:4px;
			-webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
			 box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
}

.section_box2:hover{
	background-color:#228AE6;
	color:white;
	cursor: pointer;
}

.section_header{
	font-family: 'Lato', sans-serif;
	    font-weight: 600;
}

#footer .li_header{
	color:white;
	font-weight: 500;

}

#footer {
	background-color:#5FCF80;
}
#footer ul{list-style:none;}
#footer ul li{
	font-size: 1rem;
	color:#7E858D;
}
#footer a:hover{
	color:white;
}

.bg_grey{
	background-color:#FAFAFA;
}

#project_name, #download_name{
	font-size: 1.25em;
}

.v_align_inner_div {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.post-header{ 
   
    color: black !important; 
    font-family: 'Montserrat', sans-serif;
    
    font-style: italic !important;
    font-weight: bold !important;
    
    text-decoration: none !important; 
    
    }


/*
notification dropdown
*/

#main_navbar .nav-pills .nav-link.active, #main_navbar .nav-pills .show > .nav-link{
  background-color:white;
}

#notify_dropdown .dropdown-menu{
 
  top: 60px;
  right: 0px;
  left: unset;
  width: 440px;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;

}

.ul_notification_container{
padding : 0px ;
  list-style: none;
  max-height:300px;
  overflow-y:scroll;
  overflow-x:hidden;
   font-size: 14px;
}
#notify_dropdown .dropdown-menu:before{
  content: "";
  position: absolute;
  top: -20px;
  right: 12px;
  border:10px solid #343A40;
  border-color: transparent transparent #343A40 transparent;
}
#notify_dropdown .head{
  padding:5px 15px;
  border-radius: 3px 3px 0px 0px;
}
#notify_dropdown .footer{
  padding:5px 15px;
  border-radius: 0px 0px 3px 3px; 
}
#notify_dropdown .notification-box{
  padding-top: 10px; 
  padding-bottom: 10px; 
}
#notify_dropdown .bg-gray{
  background-color: #eee;
}
@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;  
      width: 290px;
    } 
  
    .message{
      font-size: 13px;
    }
}


.notification-box:hover { 
    background-color: #F5F5F5;
}

.notification-box a {
	text-decoration:none
}